from orchestrator_optical.abstracts.product_blocks.optical_coherent_pluggable import (
    AbstractCoherentPluggableBlock,
    AbstractCoherentPluggableBlockInactive,
    AbstractCoherentPluggableBlockProvisioning,
)

from {{import_base_path}}.products.products_blocks.optical_deleteme_packetnode import ReplaceMePacketNode


class CoherentPluggableInactive(AbstractCoherentPluggableBlockInactive, product_block_name="CoherentPluggable"):
    host_node: ReplaceMePacketNode | None = None


class CoherentPluggableProvisioning(CoherentPluggableInactive, AbstractCoherentPluggableBlockProvisioning):
    host_node: ReplaceMePacketNode


class CoherentPluggable(CoherentPluggableProvisioning, AbstractCoherentPluggableBlock):
    host_node: ReplaceMePacketNode


