from typing import Annotated

from annotated_types import Len
from orchestrator.domain.base import ProductBlockModel

from orchestrator_optical.utils.custom_types.fqdn import Fqdn
from orchestrator_optical.utils.custom_types.ip_address import IPAddress

from {{import_base_path}}.products.products_blocks.optical_deleteme_location import ReplaceMeLocation

IpAddressesList = Annotated[
    list[IPAddress], Len(min_length=1, max_length=10), "List of the management IP addresses of the device."
]


class ReplaceMePacketNode(ProductBlockModel, product_block_name="ReplaceMePacketNode"):
    location: ReplaceMeLocation
    sw_version: str
    vendor_platform: str
    fqdn: Fqdn
    management_ips: IpAddressesList


